body{
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;

}
.main{
    width: 100%;
}

.nav{
    height: 40px;
    width: 100%;
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    padding-top: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.logo{
    position: relative;
    bottom: 10px;
}


.top-right {
    height: 15px;
    width: 100%; 
    display: flex;
    justify-content: flex-end; 
    

}

.top-items {
    list-style-type: none;
    display: flex;
    gap: 20px;
    position: relative;
    bottom: 85px;
    right: 60px;

}

.top-items li a {
    text-decoration: none;
    color: #5a5959;
    transition: color 0.3s;
    font-size: smaller;
}

.top-items li a:hover {
    color: #4a4a4b; 
}

.nav-items {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-top: 10px; 
    position: absolute;
    left: 720px;
    
}

.nav-items li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-items li a:hover {
    color: #3e3f3f; 
}

.search {
    display: flex;
    align-items: center;
    margin-top: 10px; 
    position: relative;
    left: 1550px;
    bottom: 59px;
}

.search-container input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 5px;
}

.icons {
    display: flex;
    gap: 20px;
    margin-top: 10px; 
    position: relative;
    left: 1750px;
    bottom: 90px;
}

.icon {
    height: 24px; 
    cursor: pointer;
}
.searchlogo{
    position: absolute;
    left: 160px;
}
.nav2{
    text-align: center;
    margin:0px;
    height: 20px;
    background-color: #fbfbfb; 
    padding: 10px;
    font-size: smaller;
    text-decoration: none;
    color:rgb(38, 37, 37);

}
.imageb{
    width: 100%;
    height: 800px;
    background-image: url("aaaaaa.avif");
    background-repeat: no-repeat;


    
}
.img{
    width: 100%;
    display: flex;
    
}
.text2{
    height: 100px;
    position: relative;
    left: 180px;
    top: 600px;


}
.bn{
    width:360px;
    height:50px ;
    position: relative;
    top: 600px;
    left:180px;
    justify-content: space-between;
}
.b1{
    padding: 10px;
    padding-left: 10px;
}
.b2{
    padding: 10px;
    gap: 10px;
}
.b3{
    padding: 10px;
    
}
.div2{
    background-color:white;
    height: 900px;
    width: 100%;
    font-family: Arial, sans-serif;
}
.text3{
    padding-left: 175px;
    font-family: Arial, sans-serif;
}
.text4{
font-size: 15px;
    padding-left: 175px;
    color: #4a4a4b;
}
.imagein2{
    display: flex;
    padding-left: 175px;
    gap: 20px;

}
.div3{
    width: 100%;
    margin: 0PX;
    background-image: url("div2.avif");
    background-repeat: no-repeat;
    background-size: cover;
    height:900px; 
}
.child1in3{
    background-color: white;
    width: 140px;
    height: 30PX;
    position: relative;
    left: 170px;
    top: 690px;
    font-weight: 900;
    font-family: Arial, sans-serif;
    padding-top:10px;

}
.child2in3{
    padding-top: 10PX;
    background-color: white;
    width: 210px;
    height: 35px;
    font-weight: 900;
    font-family: Arial, sans-serif;
    position: relative;
    left: 170px;
    top: 700px;

}
.div4child{
    height: 50px;
    padding-left: 160px;
    font-family: Arial, sans-serif;
    padding-top: 4px;
}
.div4{
    padding-left: 160px;
    width: 100%;
    display: flex;
    gap: 10px;

}
.div5{
    width: 100%;
    height: 400px;
    display: flex;
    padding-left:160px ;
}
.button{
    gap: 20px;
    display: flex;
    padding-left:160px ;
    padding-top: 40px;
    height: 40px;
}
.button1{
    padding: 10px;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    
}
.button2{
    padding: 10px;
    font-weight: bolder;
    font-family: Arial, sans-serif;
}
.button3{
    padding: 10px;
    font-weight: bolder;
    font-family: Arial, sans-serif;
}
.button4{
    padding: 10px;
    font-weight: bolder;
    font-family: Arial, sans-serif;
}
.image5{
    padding-top: 20px;
    display: flex;
    width: 100%;
    height: 500px;
    gap: 20px;
}
.price1{
    width:100px ;
    height: 20px;
    background-color: rgb(246, 245, 241);
    position: relative;
    bottom: 80px;
}
.price2{
    width:100px ;
    height: 20px;
    background-color: rgb(246, 245, 241);
    position: relative;
    bottom: 80px;
}
.price3{
    width:100px ;
    height: 20px;
    background-color: rgb(246, 245, 241);
    position: relative;
    bottom: 80px;
}
.price4{
    width:100px ;
    height: 20px;
    background-color: rgb(246, 245, 241);
    position: relative;
    bottom: 80px;
}
.div5child{
    height: 50px;
    padding-left: 160px;
    font-family: Arial, sans-serif;

}
.div6{
    
    display: flex;
    flex-wrap: wrap;
    padding-left:160px ;
    gap: 10px;
    height: 750px;

}
.video{
    width: 100%;
    display: flex;
    padding-left:5px ;
    gap: 15px;
    font-family: Arial, sans-serif;
}
h5{
    color: #5a5959;
}
.div7{
    height: 800px;
    width: 100%;
    background-image: url("div7.avif");
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 30px;
    
}
.div7text1{
    height: 30px;
    width: 90px;
    background-color: #000;
    color: white;
    position: relative;
    top: 600px;
    left: 160px;
    padding-bottom: 5px;
    padding-left: 3px;
    font-size: 25px;
    font-weight: 700;
    font-family: Arial, sans-serif;
}
.div7text2{
    height: 20px;
    width: 310px;
    background-color: #000;
    color: rgb(230, 226, 226);
    position: relative;
    top: 605px;
    left: 160px;
    font-size: 15px;
    
    font-family: Arial, sans-serif;
}
.div7text3{
    height: 40px;
    width: 150px;
    background-color: #000;
    color: rgb(241, 239, 239);
    position: relative;
    top: 615px;
    left: 160px;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, sans-serif;
    padding-top: 10px;
    padding-left: 20px;
}
.div8top{
    height: 40px;
    width:100% ;
    font-size: 30px;
    padding-left: 160px;
    font-weight: 600;
    padding-top: 30px;
    font-family: Arial, sans-serif;
}
.div8{
    padding-top: 30px;
    height: 150px;
    width: 100%;
    display: flex;
    gap: 330px;
    font-family: Arial, sans-serif;
    font-size: 14px;

}
.div81{
    width: 320px;
    padding-left: 160px;
    font-family: Arial, sans-serif;
    
}
hr{
width: 320px;
color: #050505;
}
.div82{
    width: 320px;
    font-family: Arial, sans-serif;
    
}
.div83{
    width: 320px;
    font-family: Arial, sans-serif;
    
}
.divvv{
    padding-left: 35px;
    height: 200px;
    width: 100%;
    display: flex;
    gap: 330px;
    font-family: Arial, sans-serif;
    font-size: 14px;

}
.div84{
    width: 320px;
    padding-left: 120px;
    font-family: Arial, sans-serif;
}
.div85{
    width: 320px;
    font-family: Arial, sans-serif;
    
}
.div86{
    width: 320px;
    font-family: Arial, sans-serif;
    
}
.buttonin9{
    gap: 20px;
    display: flex;
    padding-left:160px ;
    height: 40px;
}
.div9{
    width: 100%;
    height: 400px;
    display: flex;
    padding-left:160px ;
}
.image9{
    padding-top: 15px;
    display: flex;
    width: 100%;
    height: 500px;
    gap: 10px;
}
.button91{
    padding: 10px;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    
}
.button92{
    padding: 10px;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    
}
.div10child{
    height: 50px;
    padding-left: 160px;
    font-family: Arial, sans-serif;
    padding-top: 20px;

}
.div10{
    padding-top: 15px;
    padding-left: 160px;
    height: 650px;
    width: 100%;
    display: flex;
    gap: 10px;

}
.div11{
    background-color: #000;
    height: 650px;
    width: 100%;
}
.textin11{
    height:450px ;
    width:600px;
    position: relative;
    left: 740px;
    top: 50px;
    color: rgb(237, 232, 232);
    font-weight: 2px;
    
}
.text111{
    text-align: center;

}
.text112{
    width: 452px;
    position: relative;
    left: 80px;
}
.logolast{
    position: relative;
    left: 60px;
}
.div12{
    height: 110px;
    background-color: rgb(246, 246, 31);
    display: flex;
}
.text121{
    height: 50px;
    color: black;
    font-size: 30px;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    padding-left: 650px;
    padding-top: 40px;
}
.bn12{
    height:45px ;
    width: 230px;
    position: relative;
    left: 20px;
    top: 35px;
    background-color: #000;
    color: white;
    padding-bottom: 10px;
    
}
.aroo{
    position: relative;
    left: 6px;
    top: 5px;
}

.footer {
    display: flex;
    background-color:white;
    color: black;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-item1 {
    flex: 1;
    padding-left: 340px;
    
    
}
.footer-item1 h4 {
    margin-bottom: 10px;
}

.footer-item1 ul {
    list-style: none;
    padding: 0;
}


.footer-2 {
    flex: 1;
    margin: 0 20px;
    position: relative;
    right: 30px;
    
}
.footer-2 h4 {
    margin-bottom: 10px;
}

.footer-2 ul {
    list-style: none;
    padding: 0;
}
.footer3 {
    flex: 1;
    margin: 0 20px;
    position: relative;
    right: 70px;

    
}
.footer3 h4 {
    margin-bottom: 10px;
}

.footer3 ul {
    list-style: none;
    padding: 0;
}

.footer-4 {
    flex: 1;
    margin: 0 20px;
    position: relative;
    right: 110px;
    
    
}
.footer-4 h4 {
    margin-bottom: 10px;
}

.footer-4 ul {
    list-style: none;
    padding: 0;
}
.footer-5 {
    flex: 1;
    margin: 0 20px;
    position: relative;
    right: 90px;
    
}
.footer-5 h4 {
    margin-bottom: 10px;
}

.footer-5 ul {
    list-style: none;
    padding: 0;
}


.footer-6 {
    flex: 1;
    margin: 0 20px;
    position: relative;
    right: 130px;
    
}
li{
    color:rgb(10, 10, 10);
    font-size: 15px;
    font-weight: 1px;
    font-family: "Raleway", sans-serif;
}